<div>
  <h2 id="page-heading" data-cy="PacienteHeading">
    <span jhiTranslate="historiacApp.paciente.home.title">Pacientes</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="historiacApp.paciente.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-paciente"
        [routerLink]="['/paciente/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="historiacApp.paciente.home.createLabel"> Create a new Paciente </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="pacientes?.length === 0">
    <span jhiTranslate="historiacApp.paciente.home.notFound">No pacientes found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="pacientes && pacientes.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="loadPage()">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="nombre">
            <span jhiTranslate="historiacApp.paciente.nombre">Nombre</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="fechaNacimiento">
            <span jhiTranslate="historiacApp.paciente.fechaNacimiento">Fecha Nacimiento</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="genero">
            <span jhiTranslate="historiacApp.paciente.genero">Genero</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="direccion">
            <span jhiTranslate="historiacApp.paciente.direccion">Direccion</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="carnetidentidad">
            <span jhiTranslate="historiacApp.paciente.carnetidentidad">Carnetidentidad</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="email">
            <span jhiTranslate="historiacApp.paciente.email">Email</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="password">
            <span jhiTranslate="historiacApp.paciente.password">Password</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="telefonoContacto">
            <span jhiTranslate="historiacApp.paciente.telefonoContacto">Telefono Contacto</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="historialMedico">
            <span jhiTranslate="historiacApp.paciente.historialMedico">Historial Medico</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let paciente of pacientes; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/paciente', paciente.id, 'view']">{{ paciente.id }}</a>
          </td>
          <td>{{ paciente.nombre }}</td>
          <td>{{ paciente.fechaNacimiento | formatMediumDate }}</td>
          <td>{{ paciente.genero }}</td>
          <td>{{ paciente.direccion }}</td>
          <td>{{ paciente.carnetidentidad }}</td>
          <td>{{ paciente.email }}</td>
          <td>{{ paciente.password }}</td>
          <td>{{ paciente.telefonoContacto }}</td>
          <td>{{ paciente.historialMedico }}</td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/paciente', paciente.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/paciente', paciente.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(paciente)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="pacientes && pacientes.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
