<div>
  <h2 id="page-heading" data-cy="EvaluacionFisicaHeading">
    <span jhiTranslate="historiacApp.evaluacionFisica.home.title">Evaluacion Fisicas</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="historiacApp.evaluacionFisica.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-evaluacion-fisica"
        [routerLink]="['/evaluacion-fisica/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="historiacApp.evaluacionFisica.home.createLabel"> Create a new Evaluacion Fisica </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="evaluacionFisicas?.length === 0">
    <span jhiTranslate="historiacApp.evaluacionFisica.home.notFound">No evaluacionFisicas found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="evaluacionFisicas && evaluacionFisicas.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="loadPage()">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="presionArterial">
            <span jhiTranslate="historiacApp.evaluacionFisica.presionArterial">Presion Arterial</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="temperatura">
            <span jhiTranslate="historiacApp.evaluacionFisica.temperatura">Temperatura</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="ritmoCardiaco">
            <span jhiTranslate="historiacApp.evaluacionFisica.ritmoCardiaco">Ritmo Cardiaco</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="frecuenciaRespiratoria">
            <span jhiTranslate="historiacApp.evaluacionFisica.frecuenciaRespiratoria">Frecuencia Respiratoria</span>
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="peso">
            <span jhiTranslate="historiacApp.evaluacionFisica.peso">Peso</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="altura">
            <span jhiTranslate="historiacApp.evaluacionFisica.altura">Altura</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="consultaMedica.id">
            <span jhiTranslate="historiacApp.evaluacionFisica.consultaMedica">Consulta Medica</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let evaluacionFisica of evaluacionFisicas; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/evaluacion-fisica', evaluacionFisica.id, 'view']">{{ evaluacionFisica.id }}</a>
          </td>
          <td>{{ evaluacionFisica.presionArterial }}</td>
          <td>{{ evaluacionFisica.temperatura }}</td>
          <td>{{ evaluacionFisica.ritmoCardiaco }}</td>
          <td>{{ evaluacionFisica.frecuenciaRespiratoria }}</td>
          <td>{{ evaluacionFisica.peso }}</td>
          <td>{{ evaluacionFisica.altura }}</td>
          <td>
            <div *ngIf="evaluacionFisica.consultaMedica">
              <a [routerLink]="['/consulta-medica', evaluacionFisica.consultaMedica?.id, 'view']">{{
                evaluacionFisica.consultaMedica?.id
              }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/evaluacion-fisica', evaluacionFisica.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/evaluacion-fisica', evaluacionFisica.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(evaluacionFisica)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="evaluacionFisicas && evaluacionFisicas.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
