<div>
  <h2 id="page-heading" data-cy="ProcesoMedicoHeading">
    <span jhiTranslate="historiacApp.procesoMedico.home.title">Proceso Medicos</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="historiacApp.procesoMedico.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-proceso-medico"
        [routerLink]="['/proceso-medico/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="historiacApp.procesoMedico.home.createLabel"> Create a new Proceso Medico </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="procesoMedicos?.length === 0">
    <span jhiTranslate="historiacApp.procesoMedico.home.notFound">No procesoMedicos found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="procesoMedicos && procesoMedicos.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="loadPage()">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="tipoProceso">
            <span jhiTranslate="historiacApp.procesoMedico.tipoProceso">Tipo Proceso</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="fechaInicio">
            <span jhiTranslate="historiacApp.procesoMedico.fechaInicio">Fecha Inicio</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="fechaFin">
            <span jhiTranslate="historiacApp.procesoMedico.fechaFin">Fecha Fin</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="estado">
            <span jhiTranslate="historiacApp.procesoMedico.estado">Estado</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let procesoMedico of procesoMedicos; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/proceso-medico', procesoMedico.id, 'view']">{{ procesoMedico.id }}</a>
          </td>
          <td>{{ procesoMedico.tipoProceso }}</td>
          <td>{{ procesoMedico.fechaInicio | formatMediumDatetime }}</td>
          <td>{{ procesoMedico.fechaFin | formatMediumDatetime }}</td>
          <td>{{ procesoMedico.estado }}</td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/proceso-medico', procesoMedico.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/proceso-medico', procesoMedico.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(procesoMedico)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="procesoMedicos && procesoMedicos.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
