<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-paciente-heading" data-cy="PacienteCreateUpdateHeading" jhiTranslate="historiacApp.paciente.home.createOrEditLabel">
        Create or edit a Paciente
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" [hidden]="editForm.get('id')!.value == null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="historiacApp.paciente.nombre" for="field_nombre">Nombre</label>
          <input type="text" class="form-control" name="nombre" id="field_nombre" data-cy="nombre" formControlName="nombre" />
          <div *ngIf="editForm.get('nombre')!.invalid && (editForm.get('nombre')!.dirty || editForm.get('nombre')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('nombre')?.errors?.required" jhiTranslate="entity.validation.required">
              This field is required.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="historiacApp.paciente.fechaNacimiento" for="field_fechaNacimiento"
            >Fecha Nacimiento</label
          >
          <div class="input-group">
            <input
              id="field_fechaNacimiento"
              data-cy="fechaNacimiento"
              type="text"
              class="form-control"
              name="fechaNacimiento"
              ngbDatepicker
              #fechaNacimientoDp="ngbDatepicker"
              formControlName="fechaNacimiento"
            />
            <button type="button" class="btn btn-secondary" (click)="fechaNacimientoDp.toggle()">
              <fa-icon icon="calendar-alt"></fa-icon>
            </button>
          </div>
          <div
            *ngIf="
              editForm.get('fechaNacimiento')!.invalid &&
              (editForm.get('fechaNacimiento')!.dirty || editForm.get('fechaNacimiento')!.touched)
            "
          >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('fechaNacimiento')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="historiacApp.paciente.genero" for="field_genero">Genero</label>
          <input type="text" class="form-control" name="genero" id="field_genero" data-cy="genero" formControlName="genero" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="historiacApp.paciente.direccion" for="field_direccion">Direccion</label>
          <input type="text" class="form-control" name="direccion" id="field_direccion" data-cy="direccion" formControlName="direccion" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="historiacApp.paciente.carnetidentidad" for="field_carnetidentidad">Carnetidentidad</label>
          <input
            type="text"
            class="form-control"
            name="carnetidentidad"
            id="field_carnetidentidad"
            data-cy="carnetidentidad"
            formControlName="carnetidentidad"
          />
          <div
            *ngIf="
              editForm.get('carnetidentidad')!.invalid &&
              (editForm.get('carnetidentidad')!.dirty || editForm.get('carnetidentidad')!.touched)
            "
          >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('carnetidentidad')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="historiacApp.paciente.email" for="field_email">Email</label>
          <input type="text" class="form-control" name="email" id="field_email" data-cy="email" formControlName="email" />
          <div *ngIf="editForm.get('email')!.invalid && (editForm.get('email')!.dirty || editForm.get('email')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('email')?.errors?.required" jhiTranslate="entity.validation.required">
              This field is required.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="historiacApp.paciente.password" for="field_password">Password</label>
          <input type="text" class="form-control" name="password" id="field_password" data-cy="password" formControlName="password" />
          <div *ngIf="editForm.get('password')!.invalid && (editForm.get('password')!.dirty || editForm.get('password')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('password')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="historiacApp.paciente.telefonoContacto" for="field_telefonoContacto"
            >Telefono Contacto</label
          >
          <input
            type="text"
            class="form-control"
            name="telefonoContacto"
            id="field_telefonoContacto"
            data-cy="telefonoContacto"
            formControlName="telefonoContacto"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="historiacApp.paciente.historialMedico" for="field_historialMedico"
            >Historial Medico</label
          >
          <input
            type="text"
            class="form-control"
            name="historialMedico"
            id="field_historialMedico"
            data-cy="historialMedico"
            formControlName="historialMedico"
          />
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
