<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-personal-medico-heading"
        data-cy="PersonalMedicoCreateUpdateHeading"
        jhiTranslate="historiacApp.personalMedico.home.createOrEditLabel"
      >
        Create or edit a Personal Medico
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" [hidden]="editForm.get('id')!.value == null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="historiacApp.personalMedico.nombre" for="field_nombre">Nombre</label>
          <input type="text" class="form-control" name="nombre" id="field_nombre" data-cy="nombre" formControlName="nombre" />
          <div *ngIf="editForm.get('nombre')!.invalid && (editForm.get('nombre')!.dirty || editForm.get('nombre')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('nombre')?.errors?.required" jhiTranslate="entity.validation.required">
              This field is required.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="historiacApp.personalMedico.especialidad" for="field_especialidad">Especialidad</label>
          <input
            type="text"
            class="form-control"
            name="especialidad"
            id="field_especialidad"
            data-cy="especialidad"
            formControlName="especialidad"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="historiacApp.personalMedico.telefonoContacto" for="field_telefonoContacto"
            >Telefono Contacto</label
          >
          <input
            type="text"
            class="form-control"
            name="telefonoContacto"
            id="field_telefonoContacto"
            data-cy="telefonoContacto"
            formControlName="telefonoContacto"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="historiacApp.personalMedico.correo" for="field_correo">Correo</label>
          <input type="text" class="form-control" name="correo" id="field_correo" data-cy="correo" formControlName="correo" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="historiacApp.personalMedico.licenciaMedica" for="field_licenciaMedica"
            >Licencia Medica</label
          >
          <input
            type="text"
            class="form-control"
            name="licenciaMedica"
            id="field_licenciaMedica"
            data-cy="licenciaMedica"
            formControlName="licenciaMedica"
          />
        </div>

        <div class="row mb-3">
          <label jhiTranslate="historiacApp.personalMedico.paciente" for="field_pacientes">Paciente</label>
          <select class="form-control" id="field_pacientes" data-cy="paciente" multiple name="pacientes" formControlName="pacientes">
            <option
              [ngValue]="getSelectedPaciente(pacienteOption, editForm.get('pacientes')!.value)"
              *ngFor="let pacienteOption of pacientesSharedCollection; trackBy: trackPacienteById"
            >
              {{ pacienteOption.id }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
