<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="paciente">
      <h2 data-cy="pacienteDetailsHeading"><span jhiTranslate="historiacApp.paciente.detail.title">Paciente</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ paciente.id }}</span>
        </dd>
        <dt><span jhiTranslate="historiacApp.paciente.nombre">Nombre</span></dt>
        <dd>
          <span>{{ paciente.nombre }}</span>
        </dd>
        <dt><span jhiTranslate="historiacApp.paciente.fechaNacimiento">Fecha Nacimiento</span></dt>
        <dd>
          <span>{{ paciente.fechaNacimiento | formatMediumDate }}</span>
        </dd>
        <dt><span jhiTranslate="historiacApp.paciente.genero">Genero</span></dt>
        <dd>
          <span>{{ paciente.genero }}</span>
        </dd>
        <dt><span jhiTranslate="historiacApp.paciente.direccion">Direccion</span></dt>
        <dd>
          <span>{{ paciente.direccion }}</span>
        </dd>
        <dt><span jhiTranslate="historiacApp.paciente.carnetidentidad">Carnetidentidad</span></dt>
        <dd>
          <span>{{ paciente.carnetidentidad }}</span>
        </dd>
        <dt><span jhiTranslate="historiacApp.paciente.email">Email</span></dt>
        <dd>
          <span>{{ paciente.email }}</span>
        </dd>
        <dt><span jhiTranslate="historiacApp.paciente.password">Password</span></dt>
        <dd>
          <span>{{ paciente.password }}</span>
        </dd>
        <dt><span jhiTranslate="historiacApp.paciente.telefonoContacto">Telefono Contacto</span></dt>
        <dd>
          <span>{{ paciente.telefonoContacto }}</span>
        </dd>
        <dt><span jhiTranslate="historiacApp.paciente.historialMedico">Historial Medico</span></dt>
        <dd>
          <span>{{ paciente.historialMedico }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/paciente', paciente.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
