<div>
  <h2 id="page-heading" data-cy="TratamientoHeading">
    <span jhiTranslate="historiacApp.tratamiento.home.title">Tratamientos</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="historiacApp.tratamiento.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-tratamiento"
        [routerLink]="['/tratamiento/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="historiacApp.tratamiento.home.createLabel"> Create a new Tratamiento </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="tratamientos?.length === 0">
    <span jhiTranslate="historiacApp.tratamiento.home.notFound">No tratamientos found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="tratamientos && tratamientos.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="loadPage()">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="tipoTratamiento">
            <span jhiTranslate="historiacApp.tratamiento.tipoTratamiento">Tipo Tratamiento</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="duracion">
            <span jhiTranslate="historiacApp.tratamiento.duracion">Duracion</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="objetivo">
            <span jhiTranslate="historiacApp.tratamiento.objetivo">Objetivo</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="consultaMedica.id">
            <span jhiTranslate="historiacApp.tratamiento.consultaMedica">Consulta Medica</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let tratamiento of tratamientos; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/tratamiento', tratamiento.id, 'view']">{{ tratamiento.id }}</a>
          </td>
          <td>{{ tratamiento.tipoTratamiento }}</td>
          <td>{{ tratamiento.duracion }}</td>
          <td>{{ tratamiento.objetivo }}</td>
          <td>
            <div *ngIf="tratamiento.consultaMedica">
              <a [routerLink]="['/consulta-medica', tratamiento.consultaMedica?.id, 'view']">{{ tratamiento.consultaMedica?.id }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/tratamiento', tratamiento.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/tratamiento', tratamiento.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(tratamiento)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="tratamientos && tratamientos.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
