<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-tratamiento-heading"
        data-cy="TratamientoCreateUpdateHeading"
        jhiTranslate="historiacApp.tratamiento.home.createOrEditLabel"
      >
        Create or edit a Tratamiento
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" [hidden]="editForm.get('id')!.value == null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="historiacApp.tratamiento.tipoTratamiento" for="field_tipoTratamiento"
            >Tipo Tratamiento</label
          >
          <input
            type="text"
            class="form-control"
            name="tipoTratamiento"
            id="field_tipoTratamiento"
            data-cy="tipoTratamiento"
            formControlName="tipoTratamiento"
          />
          <div
            *ngIf="
              editForm.get('tipoTratamiento')!.invalid &&
              (editForm.get('tipoTratamiento')!.dirty || editForm.get('tipoTratamiento')!.touched)
            "
          >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('tipoTratamiento')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="historiacApp.tratamiento.duracion" for="field_duracion">Duracion</label>
          <input type="text" class="form-control" name="duracion" id="field_duracion" data-cy="duracion" formControlName="duracion" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="historiacApp.tratamiento.objetivo" for="field_objetivo">Objetivo</label>
          <input type="text" class="form-control" name="objetivo" id="field_objetivo" data-cy="objetivo" formControlName="objetivo" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="historiacApp.tratamiento.consultaMedica" for="field_consultaMedica"
            >Consulta Medica</label
          >
          <select
            class="form-control"
            id="field_consultaMedica"
            data-cy="consultaMedica"
            name="consultaMedica"
            formControlName="consultaMedica"
          >
            <option [ngValue]="null"></option>
            <option
              [ngValue]="
                consultaMedicaOption.id === editForm.get('consultaMedica')!.value?.id
                  ? editForm.get('consultaMedica')!.value
                  : consultaMedicaOption
              "
              *ngFor="let consultaMedicaOption of consultaMedicasSharedCollection; trackBy: trackConsultaMedicaById"
            >
              {{ consultaMedicaOption.id }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
