<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-evaluacion-fisica-heading"
        data-cy="EvaluacionFisicaCreateUpdateHeading"
        jhiTranslate="historiacApp.evaluacionFisica.home.createOrEditLabel"
      >
        Create or edit a Evaluacion Fisica
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" [hidden]="editForm.get('id')!.value == null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="historiacApp.evaluacionFisica.presionArterial" for="field_presionArterial"
            >Presion Arterial</label
          >
          <input
            type="text"
            class="form-control"
            name="presionArterial"
            id="field_presionArterial"
            data-cy="presionArterial"
            formControlName="presionArterial"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="historiacApp.evaluacionFisica.temperatura" for="field_temperatura">Temperatura</label>
          <input
            type="number"
            class="form-control"
            name="temperatura"
            id="field_temperatura"
            data-cy="temperatura"
            formControlName="temperatura"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="historiacApp.evaluacionFisica.ritmoCardiaco" for="field_ritmoCardiaco"
            >Ritmo Cardiaco</label
          >
          <input
            type="number"
            class="form-control"
            name="ritmoCardiaco"
            id="field_ritmoCardiaco"
            data-cy="ritmoCardiaco"
            formControlName="ritmoCardiaco"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="historiacApp.evaluacionFisica.frecuenciaRespiratoria" for="field_frecuenciaRespiratoria"
            >Frecuencia Respiratoria</label
          >
          <input
            type="number"
            class="form-control"
            name="frecuenciaRespiratoria"
            id="field_frecuenciaRespiratoria"
            data-cy="frecuenciaRespiratoria"
            formControlName="frecuenciaRespiratoria"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="historiacApp.evaluacionFisica.peso" for="field_peso">Peso</label>
          <input type="number" class="form-control" name="peso" id="field_peso" data-cy="peso" formControlName="peso" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="historiacApp.evaluacionFisica.altura" for="field_altura">Altura</label>
          <input type="number" class="form-control" name="altura" id="field_altura" data-cy="altura" formControlName="altura" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="historiacApp.evaluacionFisica.consultaMedica" for="field_consultaMedica"
            >Consulta Medica</label
          >
          <select
            class="form-control"
            id="field_consultaMedica"
            data-cy="consultaMedica"
            name="consultaMedica"
            formControlName="consultaMedica"
          >
            <option [ngValue]="null"></option>
            <option
              [ngValue]="
                consultaMedicaOption.id === editForm.get('consultaMedica')!.value?.id
                  ? editForm.get('consultaMedica')!.value
                  : consultaMedicaOption
              "
              *ngFor="let consultaMedicaOption of consultaMedicasSharedCollection; trackBy: trackConsultaMedicaById"
            >
              {{ consultaMedicaOption.id }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
